body{
    font-family:Arial;
    margin:0;
    padding:0;
}
.head{
    width:100vw;
    height:15vh;
    margin:0;
    padding:0;
    background-color: black;
}
.head h1{
    font-family: impact;
    margin:0;
    padding-left:5vw;
    line-height: 15vh;
    font-size:2.5vw;
    letter-spacing: 0.5vw;
    font-weight: 500;
    color:white;
    display: inline-block;
}
.head button{
    position: relative;
    top:-0.75vw;
    left:5vw;
margin:0;
padding:0;
    height:5vh;
    width:12.5vw;
    font-size:0.75vw;
    line-height:5vh;
    display: inline-block;
    background-color: black;
    
    border:1px solid white;
    color:white;
}
.top1{
    width:100vw;
    display: inline-block;

}
.top2{
    position: relative;
    left:2.5vw;
    display: inline-block;
    width:95vw;
    height:30vh;
    margin-top:2.5vh;
    background-color: black;
}
.top2 p{
 width:20vw;
 height:7.5vh;
 padding: 0;
 margin: 0;
 text-align:center;
 line-height: 7.5vh;
 font-size: 1.25vw;
 font-weight: 600;
 background-color:black;
 color:white;
}

.top22{
    width:90vw;
    height:22.5vh;
    background-color: black;
    display: inline-block;
}
.top22 p{
    width:30vw;
    height:4vh;
    margin-left:2.5vw;
    margin-top:2.5vh;
    margin-bottom:5vh;
    line-height: 5vh;
    font-weight:400;
    font-size:1vw;
    border-left:1px solid white;
    border-right:1px solid white;
}
.top22 input{
   display: inline-block;
    width:30vw;
    height:5vh;
    padding: 0;
    margin-left:2.5vw;
    font-size: 1vw;
    border:none;
    outline:none;
    background-color: white;
}
.top22 button{
    display: inline-block;
    width:10vw;
    height:5vh;
    padding: 0;
    margin: 0;
    color:white;
    margin-left:5vw;
    font-weight:700;
    background-color: black;
    border:2.5px solid white;
}
.top3{
    display: inline-block;
    width:100vw;
    height:30vh;
}

.b1{
    position:relative;
    left:2.5vw;
    top:2.5vh;
    width:95vw;
    
    color:white;
}
.b1 button{
 width:10vw;
 height:5vh;
 padding:0;
 margin:0;
 margin-left:15vw;
 color:white;
 font-weight:600;
 background-color:black;
 border:1px solid white;
}
.b1 p{
    width:40vw;
    text-align:center;
    padding-bottom:2.5vh;
    font-weight:600;
    border-bottom:1px solid white;
}
.b2{
    position: absolute;
    top:0;
    left: 0;
    width:42.5vw;
    padding-left:2.5vw;
    background-color: black;
display: inline-block;

}

.b22{
    position: absolute;
    top:0;
    right:0;
    width:42.5vw;
    padding-left:2.5vw;
    background-color: black;
display: inline-block;

}
.b4{
    width:40vw;
}
.b4 p{
    text-align: left;
    width:40vw;
}